body {
  color: #fff;
  font-family: 'Roboto', sans-serif;
}
.container {
  max-width: 1140px;
  margin: auto;
}

.header {
  display: flex;
  align-items: center;
  padding-top: 40px;
  margin-bottom: 80px;
} 

.logo-link {
  display: inline-block;
  margin-right: 50px;
}

.nav-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.nav-menu-item {
  margin-right: 30px;
}
.nav-menu-link {
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
}

.logo-image {
  width: 46px;
  height: 71px;
}
.film-date {
  display: block;
  font-size: 24px;
  line-height: 28px;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 38px; 
}
.film-description {
  margin-top: 40px;
  max-width: 426px;
  font-size: 16px;
  line-height: 140%;
  color: rgba(255, 255, 255, 0.8);
}
.button {
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
}
.button-text,
.button-icon {
  display: inline-block;
  vertical-align: middle;
}

.button-text {
  font-size: 14px;
  line-height: 16px;
  margin-left: 10px;
}
.button-primary {
  color: #8D0019;
  background-color: #fff;
}
.button-link {
  color: #fff;
}
.button-group {
  margin-top: 70px;
}
.venom {
  position: absolute;
  top: 0;
  right: 0;
}
.blood {
  background: url('../img/blood.png') no-repeat top right,
 #14131A url('../img/background.jpg') no-repeat center center / 100%;
}